
.navbar{
    height: 150px;
    width: 100px;
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ecf0f7;
}
.logo{
    font-size: 25px;
    float: left;
    font-weight: bolder;
    padding-left: 20px;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    margin-left: 30px;
}
.box{
    background-image: url(./WhatsApp\ Image\ 2024-02-22\ at\ 12.14.42\ PM.jpeg);
    width: 1325px;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 0%;
   
}
p{
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
    padding-top: 20px;
}
h1{
    text-align: center;
    font-weight: bolder;
    
}
.input{
    background-color: beige;
    height: 50px;
    padding-block: 30px;
    padding-right: 0%;
    border-radius: 20px;
    margin-top:20%;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
#text{
    font-weight: 800;
    font-size: larger;
    text-align: center;
}
#text-1{
    font-weight: 900;
    font-size: larger;
    text-align: center;

}
button{
    font-size: larger;
}
.box-1,.box-2{
    margin-right: 50px;
}

.box-1{
    background-image: url(./brown.jpeg);
    border-radius: 50%;
    width: 250px;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 200px;
}
.box-2{
    background-image: url(./people.jpeg);
    border-radius: 50%;
    width: 350px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}
.textcontainer{
    display:flex;
    margin-top: 3%;
     margin-left:80px;
}
.box-4{
    background-color: aliceblue;
    height: 200px;
    border-radius: 20px;
    margin-top:10%;
    margin-left: 20%;
    margin-right: 60%;
    text-align:center ;
    border-top: 1rem solid red;
    padding-top: 50px;
    padding-right: 100px;
position:absolute ;
}
.box-5,.box-6,.box-7{
    display: inline-block;
    border-radius: 20%;
margin: 50px;
}
.box-5{
    width:300px;
    height: 300px;
    background-image:url(./zinc\ sofa.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;

}
.box-6{
    width:300px;
    height: 300px;
    background-image:url(./lady.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.box-7{
    width:300px;
    height: 300px;
    background-image:url(./curt.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
}
.container-1{
    background-color: black;
    margin-top: auto;
    padding-top: 50px;
}
.container-2{
    background-color: black;
    margin-top: 0%;
}
.container-3{
    background-color: black;
    margin-top: 0%;
}
.container-1,.container-2,.container-3{
    display: inline-block;
    margin: 90px;

}
.container-4{
    padding-right: 200px;
}
.container{
    background-color: black;
    padding-bottom: 200px;
}
